@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Abel", sans-serif;  
}
.filter-form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  align-items: center;
}

.filterForm_input-brand {
  @media (max-width: 750px) {
    width: 100px;
  }
  @media (max-width: 450px) {
    width: 70px;
  }
}
.filter-form_tags-list {
  @media (max-width: 750px) {
    width: 100px;
  }
  @media (max-width: 450px) {
    width: 70px;
  }
}

